<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="../javascripts/jquery.js"></script>
    <script type="text/javascript" src="../javascripts/facebook.js"></script>
    <script type="text/jsx" src="../javascripts/home.js"></script>
    <script src="../javascripts/react.js"></script>
    <script src="../javascripts/JSXTransformer.js"></script>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <input id="login" class="hidden" type="button" value="Login with Facebook" onclick="onLoginClick();"></input>
    <div id="welcome"></div>
    <div id="pages"></div>
  </body>
</html>
